<footer class="footer">
    <div class="contacts">
        <p>Контакт 1: <a href="#">Пук</a></p>
        <p>Контакт 2: <a href="#">Пук пук</a></p>
    </div>
    <pre class="ascii-art">
         / \__
       (    @\___
        /         O
      /   (_____/
    /_____/    U
    </pre>
    <code>
        Debug.log("ANANAS")
    </code>
    <span>
        Prod. by BBD74
    </span>
</footer>
