<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cinema</title>
    <link href="../css/Color.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
    <link href="../css/Food.css" rel="stylesheet"/>
    <script src="../Scripts/common.js"></script>
    <script src="../Scripts/HighLight.js" defer></script>
    <script src="../Scripts/CardLoader.js" defer></script>
</head>
<body>
<header class="header">
    <div class="logo">
        <img src="../images/logo.svg"/>
    </div>
    <nav class="menu">
        <ul>
            <li><a href="index">Главное</a></li>
            <li><a href="Shedule">Расписание</a></li>
            <li><a href="Colaboration">Сотрудничество</a></li>
            <li><a href="Food">Заказ еды</a></li>
        </ul>
    </nav>
</header>
<main>
    <div id="preloader">
        <img src="https://i.gifer.com/YCZH.gif" alt="Loading...">
    </div>
    <div id="error-message" style="display: none;">⚠ Something went wrong. Please try again later.</div>
    <div class="container" id="food-container"></div>

</main>
<footer>

</footer>
</body>
</html>