<section class="banner">
    <img src="images/banner2.jpg" alt="banner"/>
</section>
<section class="about-theater">
    <div class="container">
        <div class="theater-header">
            <h1 class="theater-name">Мир Кино</h1>
            <div class="theater-header-images">
                <img src="images/room.jpg"/>
                <img src="images/room2.jpg"/>
                <img src="images/room3.jpg"/>
            </div>
            <p class="description">
                Кинотеатр "Мир Кино" — это современный культурный центр, где каждый зритель может найти идеальный
                фильм для себя. Мы предлагаем вам уникальный кинематографический опыт благодаря нашим просторным
                залам, новейшему оборудованию и разнообразным формам показа, от классического 2D до впечатляющего
                IMAX и уютных VIP-залов.
            </p>
        </div>
    </div>
</section>
<hr/>
<section class="theater-services">
    <h2>Наши услуги</h2>
    <div class="services-block">
        <ul>
            <li>Аренда залов для частных показов</li>
            <li>Возможность забронировать билеты в любое время</li>
            <li>Заказ еды прямо в зал</li>
        </ul>
        <aside class="aside">
            <img src="images/room5.png"/>
        </aside>
    </div>
</section>
<hr/>
<section class="new-films">
  <h3>Уже в кино</h3>
  <div class="swiper">
    <div class="swiper-wrapper">
      {{#each films}}
        <div class="swiper-slide">
          <article class="movie-card">
            <img src="{{this.image}}" alt="movie"/>
            <div class="texts">
              <strong>{{this.name}}</strong>
              <em>{{this.genre}}</em>
            </div>
          </article>
        </div>
      {{/each}}
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
  </div>
</section>

